:root {
	--white: #ffffff;
		--black: #000000;

    --gray-100: #f0f0f0;
		--gray-200: #e7e7e7;
		--gray-250: #c6c7c8;
    --gray-300: #bfbfbf;
    --gray-400: #959595;
		--gray-450: #585858;
    --gray-500: #6a6a6a;
    --gray-550: #626262;
    /* --gray-600: #3a393a; */
		--gray-600: #3f3f3f;
		--gray-630: #363636;
    --gray-650: #2d2d2d;
    --gray-700: #151515;
		--gray-800: #0c0c0c;

		--blue-100: #009bf5;
		--blue-200: #008fe2;
		--blue-250: #0078d6;
    --blue-300: #007fdf;
    --blue-400: #007ac0;
		--blue-450: #006faf;
    --blue-550: #006ead;
    /* --gray-600: #3a393a; */
		--blue-600: #006ba8;
		--blue-630: #00649e;
    --blue-650: #004f7c;
    --blue-700: #003c5f;
		--blue-800: #00283f;
		--blue-900: #000e16;

		--transparent-gray-200: #e7e7e7d5;

		--dark-600: #16161a;

		--red-500: #e95751;

		--green-500: #22cc88;

    --blue-500: #1e90ff;

    --purple-500: #a51eff;
		
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    text-decoration: none;

		/* IE and Edge */
		-ms-overflow-style: none; 
		/* Firefox */
    scrollbar-width: none;
}
::-webkit-scrollbar {
		display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (prefers-color-scheme: dark) {
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
		/* padding-top: 12rem; */

		/* Animacao do BackGround */
		background: linear-gradient(90deg, var(--gray-800) 0%, var(--gray-650) 100%) !important;
		animation: gradient 1s ease-in-out ;
		background-size: 400% 400%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
}

.form-control{
	border: 0.1rem solid var(--gray-650) !important;
	border-radius: 10rem !important;

	margin: 0.3rem;

	background-clip: inherit !important;
	background-color: var(--gray-650) !important;

	color: var(--white) !important;
}

.btn {
	border-radius: 1rem !important;

	padding: 0.5rem 1rem !important;
}